<!DOCTYPE html>
<html
  lang="en"
  th:fragment="layout(content, htmlType, title, head)"
  xmlns:th="http://www.thymeleaf.org"
  th:with="siteTitle = ${not #strings.isEmpty(title) ?  title  :  #strings.isEmpty(site.subtitle) ? site.title :  site.title +' - ' +site.subtitle }"
>
  <head>
    <th:block th:replace="~{modules/head :: head(htmlType = ${htmlType})}" />
    <link
      rel="stylesheet"
      th:href="@{/assets/dist/style.css?v={version}(version=${theme.spec.version})}"
      href="./assets/dist/style.css"
    />
    <script th:src="@{/assets/dist/main.iife.js?v={version}(version=${theme.spec.version})}"></script>
  </head>

  <body>
    <th:block th:replace="${content}" />
  </body>
</html>
